<%= render partial: 'shared/menu' %>

<h1>The Logz Dashboard</h1>

<h2>Population Queries</h2>

<%= render partial: 'menu' %>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Answer</th>
      <th>Exact/Calculated</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'population_queries' %>
  </tbody>
</table>
